@use '@/design-system/tokens' as t;

:global {
    .react-split__sash {
        position: relative;

        .custom-split-sash {
            width: 100%;
            height: 100%;
            position: relative;
            opacity: 0;
            transition: opacity 0.2s ease;
            background-color: rgba(0, 95, 184, 0.5);
            box-shadow: 0px 1px 6px rgba(0, 95, 184, 1);
            padding: 1px;

            .custom-split-sash-line {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 95, 184, 1);
            }
        }

        &:hover .custom-split-sash,
        &:active .custom-split-sash,
        &:focus .custom-split-sash,
        &.react-split__sash--active .custom-split-sash,
        &.react-split__sash--dragging .custom-split-sash {
            opacity: 1;
        }
    }
}
