.chat-container {
    display: flex;
    width: 100%;
    background-color: #1b1c21;
    padding: 4px;
}

.chat-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    position: relative;
}

.chat-input-wrap {
    position: absolute;
    width: 100%;
    align-items: end;
    bottom: 0;
    display: flex;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        top: -80px;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(
            to bottom,
            rgba(27, 28, 33, 0) 0%,
            rgba(27, 28, 33, 0.002) 3%,
            rgba(27, 28, 33, 0.007) 6%,
            rgba(27, 28, 33, 0.015) 9%,
            rgba(27, 28, 33, 0.026) 12%,
            rgba(27, 28, 33, 0.041) 15%,
            rgba(27, 28, 33, 0.059) 18%,
            rgba(27, 28, 33, 0.081) 21%,
            rgba(27, 28, 33, 0.106) 24%,
            rgba(27, 28, 33, 0.134) 27%,
            rgba(27, 28, 33, 0.166) 30%,
            rgba(27, 28, 33, 0.201) 33%,
            rgba(27, 28, 33, 0.239) 36%,
            rgba(27, 28, 33, 0.28) 39%,
            rgba(27, 28, 33, 0.324) 42%,
            rgba(27, 28, 33, 0.37) 45%,
            rgba(27, 28, 33, 0.418) 48%,
            rgba(27, 28, 33, 0.468) 51%,
            rgba(27, 28, 33, 0.52) 54%,
            rgba(27, 28, 33, 0.8) 87%,
            rgba(27, 28, 33, 0.8) 100%
        );
        pointer-events: none;
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 1;
    }
}

.chat-input-container {
    display: flex;
    flex: 1;
    max-width: 500px;
    flex-direction: column;
    border: solid 1px #626263;
    border-radius: 10px;
    background-color: #353535;

    &:focus-within {
        border: solid 1px rgb(0, 108, 210);
    }
}

.chat-input-row {
    display: flex;
    flex-direction: row;
    flex: 1;

    textarea {
        background-color: #353535 !important;
    }
}

.chat-input {
    flex: 1;
    height: auto;
    max-height: 200px;
    border: none;
    border-radius: 12px 12px 0 0;
    padding: 8px 12px;
    font-size: 14px;
    resize: none;
    overflow-y: hidden;
    line-height: 1.5;
    box-sizing: border-box;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #626263;
}

.chat-controls {
    display: flex;
    flex-direction: row;
    padding: 4px 4px 4px 12px;
    justify-content: space-between;
}

.chat-controls-left {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.chat-controls-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-send-button {
    width: 30px;
    height: 30px;
    background-color: #5b5b5b;
    color: white;
    border: solid 1px #626263;
    border-radius: 8px;
    padding: 0;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:not(:disabled) {
        opacity: 1;
        cursor: pointer;
    }
}

.chat-send-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}
