.create-panel-form {
    .chart-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 12px 12px 12px 24px;

        .body {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            border: 1px solid #b8c8da41;
            background-color: #141518;
            padding: 6px;
            overflow: auto;
        }
    }
}
