.create-panel-form {
    .chart-footer-form {
        padding: 8px 8px 8px 16px;
        height: 100%;
        .chart-footer-tab {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 2px 8px;
            font-size: 13px;
            .active-footer-tab {
                border-bottom: 2px solid #005fb8;
            }
            .inactive-footer-tab {
                border-bottom: 2px solid transparent;
                opacity: 0.8;
            }
            .series-count {
                background-color: #a4a4a46e;
                border-radius: 40%;
                color: #e4e4e4;
                display: flex;
                width: 32px;
                height: 14px;
                font-size: 11px;
                align-items: stretch;
                justify-content: center;
                margin-left: 4px;
            }
            div {
                display: flex;
                align-items: center;

                cursor: pointer;
                &:hover {
                    opacity: 1 !important;
                }
                padding: 0 8px;
            }
        }
        .chart-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(100% - 24px);
            .time-wrap {
                font-size: 13px;

                .time-divider {
                    width: 1px;
                    height: 100%;
                    margin: auto 8px;
                    background-color: #3a3b44;
                }
                .time-header {
                    padding-left: 8px;
                    display: flex;
                    font-size: 15px;
                    height: 10%;
                    font-weight: 600;
                    align-items: center;
                }
                .time-form {
                    height: 100%;
                    width: 70%;
                    justify-content: space-evenly;
                    .time-set-form {
                        height: 90%;
                        padding-top: 2%;
                        justify-content: space-evenly;
                        // align-items: center;
                        display: flex;
                    }
                    .date-picker {
                        display: flex;
                    }
                }
                .refresh-form {
                    width: 30%;
                    height: 100%;
                    .refresh-set-form {
                        display: flex;
                        height: 90%;
                        padding-top: 5%;
                        justify-content: center;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .date-picker {
                    display: flex;

                    flex-direction: column;
                    .modal-date-picker {
                        z-index: 8;
                        input {
                            filter: invert(1);
                        }
                    }
                    .date-picker {
                        flex-direction: row;
                        display: inline-block;
                        width: 200px;
                        padding: 0 4px;
                        display: flex;
                        align-items: center;
                        height: 28px;
                        background-color: #323644;
                        border: 0.5px solid rgba(255, 255, 255, 0.5);
                        color: rgba(255, 255, 255, 0.5) !important;
                        border-radius: 4px;
                        input {
                            background-color: transparent;
                            border: none;
                            height: 100%;
                            color: #f8f8f8;
                        }

                        .react-datepicker {
                            background-color: #2a2d37 !important;
                            td,
                            th {
                                padding: 0 !important;
                                width: unset;
                                min-width: unset;
                            }
                            .rdtPrev:hover,
                            .rdtNext:hover,
                            .rdtTimeToggle:hover,
                            .rdtBtn:hover,
                            .rdtSwitch:hover,
                            .rdtDay:hover {
                                opacity: 0.5 !important;
                                background: #464b5c !important;
                            }
                        }
                    }
                }
                .select-time-range {
                    display: flex;

                    div {
                        margin-left: 4px;
                        span {
                            cursor: pointer;
                        }
                        span:hover {
                            opacity: 0.5;
                        }
                    }
                    display: flex;
                    color: #4199ff;
                    // width: 210px;
                }
                .react-datepicker__input-container {
                    width: 210px !important;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 0.3rem 0.5rem;
                    background-color: rgba(38, 40, 49, 0.5);
                    border: solid 0.5px rgba(255, 255, 255, 0.5);
                    border-radius: 8px;

                    input {
                        color: #f8f8f8;
                        width: 100%;
                        height: 100%;

                        outline: none;
                        border: none;
                        background-color: transparent;
                    }
                }
            }
            .body {
                border-radius: 4px;
                width: 100%;
                height: 100%;
                border: 1px solid #b8c8da41;
                background-color: #141518;
                padding: 6px;
                overflow: auto;

                .plus-wrap {
                    border: 1px solid #777777;
                    min-height: 50px;
                    border-radius: 4px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}
