.textextension-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .textextension-editor-header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        &-l {
            display: flex;
        }
        &-r {
            display: flex;
            align-items: center;
        }
    }

    .textextension-editor-content {
        width: 100%;
        height: calc(100% - 40px);
        overflow: auto;
    }
}
