@use '@/design-system/tokens' as t;
@import '/src/assets/scss/theme.scss';

.panel-form {
    width: 100%;
    min-height: 300px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: t.$shadow-md;

    rect {
        cursor: default;
    }
    .chart {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .chart-body {
            width: 90%;
            .highcharts-navigator-mask-inside {
                cursor: pointer !important;
            }
        }
        .left,
        .right {
            cursor: pointer;
            // margin-bottom: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            width: 35px;
            height: 35px;
            border: 1px solid #505259;
        }
        .left {
            margin-right: 8px;
            svg {
                margin-right: 2px;
            }
        }
        .right {
            margin-left: 8px;
            svg {
                margin-left: 2px;
            }
        }
    }
}
