.panel-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    .title {
        display: flex;
        align-items: center;
        color: #fdb532;
        cursor: pointer;
        svg {
            margin-right: 4px;
        }
    }
    .time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
            opacity: 0.8;
            font-size: 11px;
        }
    }
    .options {
        font-size: 15px;
        display: flex;
        align-items: center;

        .raw {
            font-size: 32px;
            :hover {
                color: #fdb532 !important;
            }
        }
    }
}
