.panel-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    .title {
        color: #fdb532;
    }
    .time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .options {
        font-size: 15px;
        display: flex;
        align-items: center;

        .raw {
            font-size: 32px;
            :hover {
                color: #fdb532 !important;
            }
        }
        button {
            color: #a4a4a4;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            :hover {
                color: #ffffff;
            }
        }
        svg {
            margin-left: 6px;
        }
    }
}
