.panel-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    height: 30px;
    border-bottom: 0.5px solid #454545;
    padding: 4px 12px;
    background-color: #1e1e1e;

    .title {
        display: flex;
        align-items: center;
        color: #fdb532;
        cursor: pointer;
        svg {
            margin-right: 4px;
        }
        &:hover {
            svg {
                fill: #f8f8f8 !important;
            }
        }
    }
    .time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: default;
        span {
            opacity: 0.8;
            font-size: 11px;
        }
    }
    .options {
        font-size: 15px;
        display: flex;
        align-items: center;

        .raw {
            font-size: 32px;
            :hover {
                color: #fdb532 !important;
            }
        }
    }
    .divider {
        width: 1px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.2);

        margin: 0 5px;
    }
}
.panel-header-navigator {
    .mui-svg-hover {
        &:hover {
            path {
                fill: white;
            }
        }
    }
}
.hidden-header-menu {
    .item:hover {
        .mui-svg-hover {
            path {
                fill: white;
            }
        }
    }
}
