.board-header-variable-wrap {
    display: flex;
    width: 100%;
    height: calc(100% - 30px);
    min-height: 30px;
    align-items: start;
    background-color: #262831;
    flex-direction: column;
    ::-webkit-scrollbar-thumb {
        background-color: rgb(73, 81, 89);
    }

    .board-header-variable-overflow {
        display: flex;
        overflow: auto;
        width: 100%;
        padding: 4px 16px;
        flex-direction: column;

        .board-header-variable {
            width: 100%;
            flex-direction: column;

            &-item {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: start;
                border-radius: 4px;
                gap: 2px;
                font-size: 14px;
                padding-bottom: 10px;

                &-label {
                    color: rgba(255, 255, 255, 0.8);
                    padding-right: 4px;
                    display: flex;
                    align-items: center;
                    min-height: 27px;
                }
                .extension-tab-wrapper {
                    background-color: inherit;
                }
            }
        }
    }
    .board-header-variable-action {
        padding-top: 12px;
        display: flex;
        width: 100%;
        .extension-tab-wrapper {
            align-items: end;
            justify-content: end;
            background-color: #262831 !important;
        }
    }
}
.board-header-variable-wrap::-webkit-scrollbar-thumb {
    background-color: rgb(73, 81, 89);
}
