@import '/src/assets/scss/theme.scss';
.dashboard-variable-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    .variable-export-wrapper {
        .extension-tab-text-button {
            background-color: #6f7173 !important;
        }
    }

    .variable-selector-wrapper,
    .variable-open-selector-wrapper {
        font-size: 13px;
        text-transform: capitalize;
        min-width: 180px;

        .variable-selector-header {
            height: 27px;
            border: solid 0.5px rgba(255, 255, 255, 0.5);
            border-radius: 4px;
            background-color: #323644;
            padding: 0 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            span {
                cursor: pointer;
            }
        }

        .variable-selector-body {
            border: 1px solid rgba(255, 255, 255, 0.13);
            background-color: #1c1c21;

            &-item {
                display: flex;
                align-items: center;
                padding: 0 8px;
                cursor: pointer;

                span {
                    cursor: pointer;
                }
            }
            &-item:hover {
                background-color: #005fb8;
            }
            &-item-selected {
                background-color: #005fb8;
            }
        }
    }

    .board-preview-variable {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        &-item {
            display: flex;
            flex-direction: row;
            align-items: start;
            border-radius: 4px;
            gap: 2px;
            font-size: 14px;
            padding-right: 28px;

            &-label {
                color: rgba(255, 255, 255, 0.5);
                padding-right: 4px;
                display: flex;
                align-items: center;
                min-height: 27px;
            }
            &-key {
                border: solid 1px rgba(255, 255, 255, 0.5);
                border-radius: 4px;
                padding: 2px 8px;
                color: #f1f1f1;
                background-color: rgb(0, 95, 184);
                cursor: default;
            }
            &-value {
                min-height: 27px;
                padding: 0 8px;
                border: solid 1px rgba(255, 255, 255, 0.5);
                border-radius: 4px;
                background-color: #323644;
                display: flex;
                align-items: center;
                cursor: default;
            }
        }
    }
}
