@import '/src/assets/scss/theme.scss';

.board-header-variable-preview-wrap {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;

    .board-header-variable-preview {
        display: flex;
        flex-direction: row;
        gap: 4px;

        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            cursor: default;
            overflow-x: auto;
            max-width: 100px;

            &-key {
                cursor: pointer;
                font-size: 14px;
                padding: 0 8px;
                color: #f4f4f4c1;
                border: solid 1px rgba(255, 255, 255, 0.3);
                border-radius: 4px;
                background-color: rgb(36, 36, 36);
                overflow: hidden;
                text-wrap-mode: nowrap;
                text-overflow: ellipsis;

                &:hover {
                    color: #f4f4f4;
                    background-color: rgb(69, 69, 69);
                }
            }
        }
        .react-tooltip {
            z-index: $tooltip-idx;
            font-size: 13px;
        }
    }
}
