$themes: (
    dark: (
        'text-color': $text-b,
        'text-color1': $text-w,
        'bg-color': $d-background,
        'bg-color-opa': $d-background-opa,
        'bg-color-input': $d-background-input,
        'border-color': $d-border-28,
        'bg-color-button': $d-background-1c,
        'border-color-paging': $d-border,
    ),
    light: (
        'text-color': $l-text,
        'text-color1': $l-text,
        'bg-color': $l-background,
        'bg-color-opa': $l-background,
        'bg-color-input': $l-background-input,
        'border-color': $l-border,
        'bg-color-button': $l-background-f6,
        'border-color-paging': $l-border,
    ),
);
@mixin theme() {
    @each $theme, $map in $themes {
        $theme-map: $map !global;
        .#{$theme} & {
            @content;
        }
    }
    $theme-map: null !global;
}
@function theme-get($key) {
    @return map-get($theme-map, $key);
}
// use
// @include theme() {
//     color: theme-get('text-color');
//     background-color: theme-get('bg-color');
//   }
//

@function toRem($value) {
    $remValue: $value / 16 + rem;
    @return $remValue;
}

@mixin nav-header {
    min-height: 44px;
    background-color: $d-background-opa;
    color: $text-b;
    padding: 0 $px-10;
}
@mixin box-shadow {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
// font
