@function toRem($value) {
    $remValue: $value / 16 + rem;
    @return $remValue;
}

@mixin nav-header {
    min-height: 44px;
    background-color: $black-opa;
    color: $text1;
    padding: 0 $px-10;
}

// font
