/** Colors */
$text-blue: #2ec0df;
$color-blue: #2ec0df;
$text-w: #e7e8ea;
$text-b: #9ca2ab;
$bg-modal: rgba(5, 6, 6, 0.6);

// color border
$bd-black: #333333;

// font
$font-12: 12px;
$font-14: 14px;

// dark
$d-background: #131313;
$d-background-chart: #1e1f1f;
$d-text-chart: #afb5bc;
$d-border-chart: #282828;
$d-background-1c: #1c1c1d;
$d-background-opa: #202020;
$d-border: #383838;
$d-border-28: #282828;
$d-background-input: #202020;
$d-color-table: #afb5bc;
$d-text-vport-chart: #afb5bc;
$d-bg-vport-chart: #202020;
$d-bd-vport-chart: #383838;
$d-text-tab-title: $text-w;
$d-bg-tab-content: #1c1c1d;
$d-bg-login-btn: #4050CD;

// light
$l-text: #202020;
$l-background-chart: #f6f7f8;
$l-text-chart: #6c6e70;
$l-border-chart: #dbe2ea;
$l-background: #fff;
$l-border: #dbe2ea;
$l-background-f6: #f6f7f8;
$l-background-input: #f6f7f8;
$l-color-table: #2a313b;
$l-text-vport-chart: #2a313b;
$l-text-tab-title: #2a313b;
$l-bg-vport-chart: #f6f7f8;
$l-bd-vport-chart: #dbe2ea;
$l-bg-tab-content: #fbfcfd;

// Spacing
$px-5: 5px;
$px-7: 7px;
$px-10: 10px;
$px-12: 12px;
$px-15: 15px;
$px-20: 20px;

// z-index
$z-index-set: 2;

$height: 30px;