/** Colors */
$text-blue: #2ebbc6;
$text-w: #e7e8ea;
$text-b: #afb5bc;

// color border
$bd-black: #333333;

// font
$font-12: 12px;
$font-14: 14px;

// dark
$d-background: #131313;
$d-background-opa: #202020;
$d-border: #383838;

// light
$l-text: #202020;
$l-background: #fff;
$l-border: #dbe2ea;

// Spacing
$px-5: 5px;
$px-7: 7px;
$px-10: 10px;
$px-12: 12px;
$px-15: 15px;
$px-20: 20px;
