.overlap-modal {
    &__shift-list {
        margin: 8px 0;
    }

    &__shift-row, &__shift-text {
        display: grid;
        align-items: center;
        gap: 8px;
        min-width: 0;
    }

    &__shift-row {
        grid-template-columns: minmax(0, 1fr) auto;
    }

    &__shift-text {
        grid-template-columns: minmax(100px, 0.7fr) auto minmax(0, 1fr) auto minmax(0, 1fr);
    }
}
