.chart-wrapper {
    height: 100%;

    .chart-control {
        padding: 0 16px;
        display: flex;
        flex-direction: row;
        justify-content: end;

        .chart-control-drop-wrapper {
            margin-left: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: #fdb532;
            }

            .chart-control-drop {
                margin-left: 8px;
                display: flex;
            }

            .chart-control-select-wrapper {
                display: flex;
                background-color: #404457;
                border: solid 1px rgba(255, 255, 255, 0.5);
                height: 22px;
                border-radius: 4px;
                min-width: 86px;
                overflow: hidden;

                select {
                    padding: 0 2px;
                    background-color: #404457;
                    color: rgba(255, 255, 255, 0.8);
                    border: none;
                    min-width: 86px;
                    font-size: 12px;
                }
            }
        }

        .chart-control-play-btn {
            margin-left: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .chart-control-play-btn-item {
                fill: #fdb532;
            }

            :hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
            }
        }
    }

    .chart_container {
        .chart_item {
            margin: auto;
        }
    }
}
