.badge-status {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #ff4747;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: default;

    span {
        color: #ffffff;
        font-size: 14px;
        cursor: inherit;
    }

    &--success {
        background-color: #4caf50;

        span {
            font-size: 10px;
        }
    }
}
