@use '@/design-system/tokens' as t;
@import '/src/assets/scss/theme.scss';

.console-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .console-header {
        display: flex;
        padding: 0 12px 0 24px;
        align-items: center;
        justify-content: space-between;
        box-shadow: 4px 4px 4px #00000050;
        background-color: t.$bg-primary;
        border-bottom: 0.5px solid t.$border-color-default;
        box-sizing: border-box;

        .console-header-right {
            display: flex;
            align-items: center;
            padding-right: 12px;
            height: 24px;

            .extension-menu {
                position: absolute;
                top: 30px;
                left: -80px;
                z-index: $dropdown-idx;
            }

            .add-terminal {
                padding: 0 4px;
                display: flex;
                align-items: center;
                height: 100%;
                margin-left: 12px;
                position: relative;
                span {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                }
                svg {
                    margin-left: 2px;
                }
                .menu-wrapper {
                    position: relative;
                }
            }
            .add-terminal:hover {
                border-radius: 6px;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
    .console-form-tab {
        display: flex;
        flex: 1;
        align-items: center;
        width: 100%;
        padding: 8px 0;
        .tabs {
            display: flex;
            align-items: center;
            color: #c4c4c4;
        }
        .tabs:hover {
            color: #f8f8f8;
        }
        .tab_close {
            margin-left: 4px;
            padding-left: 4px !important;
            width: 15px;
            height: 15px;
            right: 16px;
            padding: 0;
            font-size: 16px;
            display: flex;
            align-items: center;
        }

        :hover {
            span {
                opacity: 0.8 !important;
            }
        }
        div {
            display: flex;
            justify-content: center;
            font-size: 13px;
            cursor: pointer;
            margin-right: 20px;
        }
    }
    .console-body {
        flex: 1;
        min-height: 0;
        overflow: hidden;
        // background-color: #252525;

        .active-console {
            width: 100%;
            height: 100%;
        }

        .display-none {
            display: none;
        }

        .is-console {
            height: 100%;
            overflow: auto;
            // padding: 1px 0;
        }

        .task {
            line-height: 117%;
            padding-left: 24px;
            font-size: 14px;
            font-family: D2coding;
            display: flex;
            align-items: baseline;
            gap: 16px;

            .nowrap {
                white-space: nowrap;
            }

            .repeat {
                border-radius: 40%;
                font-size: 12px;
                padding: 0 5px 0 3px;
                display: flex;
                justify-content: center;
            }
        }
    }
}
