.panel-wrap {
    .board-panel-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 4px 12px;
        font-size: 14px;
    }
}
