.panel-wrap {
    border: 1px solid #b8c8da41;
    background-color: #141518;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 4px;

    position: relative;

    .draggable-panel-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        z-index: 999;
        &:hover {
            cursor: grab;
        }
    }
    .draggable-panel-header-menu-icon {
        display: flex;
        margin-right: 4px;
    }
    .draggable-panel-header-menu-icon:hover {
        background-color: #b8c8da41;
        border-radius: 4px;
    }
}
