.panel-wrap {
    .board-panel-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        padding: 4px 12px;
        font-size: 14px;
        .panel-header-navigator {
            .tooltip {
                z-index: 99999;
            }
            display: flex;
            align-items: center;
            font-size: 13px;
            .panel-header-time-range {
                justify-content: center;
                width: 25px;
                min-width: 25px;
                height: 30px;
                display: flex;
                align-items: center;
            }
        }
    }

    .panel-theme-white {
        color: black;
        svg {
            color: rgb(58, 58, 58);
        }
    }
}
