@use '@/design-system/tokens' as t;
@import '/src/assets/scss/theme.scss';

.panel-wrap {
    border: t.$border-default;
    border-radius: t.$border-radius-base;
    width: 100%;
    height: 100%;
    padding: 4px;
    position: relative;
    box-shadow: t.$shadow-sm;

    .draggable-panel-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        z-index: $dsh-draggable-panel-header-idx;
        &:hover {
            cursor: grab;
        }
    }
    .draggable-panel-header-menu-icon {
        display: flex;
        margin-right: 4px;
    }
    .draggable-panel-header-menu-icon:hover {
        background-color: #b8c8da41;
        border-radius: t.$border-radius-base;
    }
}
