@use '@/design-system/tokens' as t;

.input-container {
    display: flex;
    flex-direction: column;
    gap: t.$spacing-8;

    &--full-width {
        width: 100%;
    }

    &--label-left {
        .input-field-wrapper {
            flex-direction: row;
            align-items: center;
            gap: t.$spacing-12;

            .input-label {
                margin-bottom: 0;
                white-space: nowrap;
                min-width: 120px;
                flex-shrink: 0;
            }

            .input-wrapper {
                flex: 1;
            }
        }
    }

    &--label-top {
        .input-field-wrapper {
            flex-direction: column;
        }
    }
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: t.$spacing-8;
}

.input-label {
    font-size: t.$font-size-base;
    font-weight: 500;
    color: t.$text-secondary;
    user-select: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    @include t.interactive-field-base;

    &:hover:not(&--disabled) {
        border-color: #5a5a5a;
    }

    &:focus-within:not(&--disabled) {
        @include t.interactive-field-active;
    }

    // Sizes
    &--sm {
        padding: t.$spacing-4 t.$spacing-8;
        min-height: 28px;

        .input {
            font-size: t.$font-size-sm;
        }
    }

    &--md {
        padding: 0 t.$spacing-12;
        height: t.$input-height;
        min-height: t.$input-height;

        .input {
            font-size: t.$font-size-base;
        }
    }

    &--lg {
        padding: t.$spacing-10 t.$spacing-16;
        min-height: 44px;

        .input {
            font-size: t.$font-size-base;
        }
    }

    // Variants
    &--error {
        border-color: #e53935;

        &:focus-within {
            border-color: #e53935;
            outline: 2px solid rgba(229, 57, 53, 0.1);
        }
    }

    &--success {
        border-color: #43a047;

        &:focus-within {
            border-color: #43a047;
            outline: 2px solid rgba(67, 160, 71, 0.1);
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #1e1e1e;
    }

    // With icons
    &--has-left-icon {
        .input {
            padding-left: t.$spacing-8;
        }
    }

    &--has-right-icon {
        padding-right: t.$spacing-2;

        .input {
            padding-right: 0;
        }
    }
}

.input {
    flex: 1;
    background: transparent;
    border: none;
    color: t.$text-primary;
    font-family: inherit;
    outline: none;
    width: 100%;
    min-width: 0;

    &::placeholder {
        color: t.$text-tertiary;
        font-size: t.$font-size-sm;
    }

    &:disabled {
        cursor: not-allowed;
    }

    // Remove autofill styles
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: t.$text-primary;
        -webkit-box-shadow: 0 0 0 1000px #2a2a2a inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.input-icon--left,
.input-icon--right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: t.$text-tertiary;
}

.input-helper-text {
    font-size: t.$font-size-xs;
    color: t.$text-secondary;
    margin-top: -4px;

    &--error {
        color: #e53935;
    }
}
