.chat-modal-wh {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 480px;
    min-height: 200px;
    max-height: 480px;
    background-color: rgb(65, 65, 66);
}
.chat-modal {
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .title {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    &-body {
        padding: 1rem 1.5rem;
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;

        .content {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 3.9375rem 2.625rem 3.9375rem;

        .register {
            color: #4199ff;
            label {
                cursor: pointer;
            }
            input {
                display: none;
            }
        }
    }
}
