@import '../../assets/scss/theme.scss';
@import '../../design-system/tokens/index';

.login-form {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1b1c21;

    .login-bg-img {
        width: 100%;
        height: 100%;
        z-index: $login-bg-img-idx;
        position: absolute;
    }
}

.login-card {
    z-index: $login-card-form-idx;
    width: 420px;
    padding: 40px 0;
    background-color: $bg-elevated;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-default;
    border-radius: 8px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    img {
        margin: 0 auto;
        filter: brightness(1.5) saturate(1.2);
    }
}
.sns {
    padding: 32px 24px 0 24px;
    width: 420px;
    display: flex;
    justify-content: space-between;
    svg {
        fill: rgba(255, 255, 255, 0.5);
        &:hover {
            fill: rgba(255, 255, 255, 1);
        }
    }
}
