@import '@/assets/scss/theme.scss';
.display-wrapper {
    width: 700px;
    padding: 20px;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    display: flex;
    .chart-type-wrapper{
        width: 152px;
        .chart-type-div{
            margin-top: 2px;
            align-items: flex-start;
        }
    }
    .input-col2{
        margin-left: 19px;
        width: 270px;
        .input-group-addon {
            width: 34px;
            text-align: center;
            height: 26px !important;
            display: inline-block;
        }
        .point_radius_input{
            width: 245px;
        }
    }
    .cfg-input {
        margin-top: 2px;
        margin-bottom: 20px;
        // display: flex;
        // flex-direction: row;
    }
    .input {
        width: 210px;
        height: 26px;
        border: 1px solid $d-border;
        outline: none;
        flex: 1;
    
        @include theme() {
            background-color: theme-get('bg-color-input');
            color: theme-get('text-color');
            padding: $px-5 $px-10;
        }
    
        &:focus {
            @include box-shadow;
        }
    }
}
