@import '/src/assets/scss/theme.scss';

.tab {
    background-color: #404557;
    height: 40px;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;

    .tab-list {
        padding: 0 15px;
        max-width: calc(100% - 48px);
        overflow-x: visible;
        overflow-y: hidden;
        display: flex;
        position: relative;
    }
    .plus-icon {
        color: #c4c4c4;
    }
    .plus-icon:hover {
        color: #f8f8f8;
    }
    .plus_wrap {
        width: 50px;
        margin-top: 4px;
    }
}
