@import '@/assets/scss/theme.scss';

.popup__btn-group {
    display: flex;
    justify-content: end;
    gap: 8px;
    .button-effect-color {
        border-radius: 0;
        background-color: $color-blue;
        color: $text-w;
        border: 1px solid #57d6f1;
        text-transform: capitalize;
        font-size: 12px;
        height: 30px;
        width: 70px;

        &:hover {
            font-weight: bold;
        }
    }
    .button-effect-color-apply {
        border-radius: 0;
        background-color: $d-bg-login-btn;
        color: $text-w;
        border: 1px solid $d-bg-login-btn;
        text-transform: capitalize;
        font-size: 12px;
        height: 30px;
        width: 70px;

        &:hover {
            font-weight: bold;
        }
    }
}

.button-effect {
    border-radius: 0;
    color: $text-blue;
    text-transform: capitalize;
    font-size: 12px;
    height: 30px;
    width: 70px;

    &:hover {
        font-weight: bold;
    }

    @include theme() {
        background-color: theme-get('bg-color-button');
        border: 1px solid theme-get('border-color');
    }
}

.popup__btn-group {
    height: 40px;
}

.chart-edit-page::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.chart-edit-page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background: #141415;
}

.chart-edit-page::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: rgb(101, 111, 121);
}
.chart-edit-page {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
    height: calc(100% - 45px);
    .tabs::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .tabs::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        background: #141415;
    }

    .tabs::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
        background-color: rgb(101, 111, 121);
    }
    .tabs {
        margin-top: 20px;

        .header {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include theme() {
                background-color: theme-get('bg-color-button') !important;
                border: 1px solid theme-get('border-chart') !important;
            }
            div {
                margin-right: 15px;
                cursor: pointer;
            }
        }

        .inner-tab {
            @include theme() {
                background-color: theme-get('bg-tab-content') !important;
                border: 1px solid theme-get('border-chart') !important;
            }
        }
    }

    .nav-pills {
    }

    .nav-pills li {
        @include font-12;
        display: inline-block;
        width: 70px;
        cursor: pointer;

        @include theme() {
            color: theme-get('text-title-tab') !important;
        }

        font-weight: bold;
        margin-left: 20px;
    }

    .nav-pills li:hover {
        font-weight: bold;
    }
}
