@import '@/assets/scss/theme.scss';

.chart-edit-page {
    margin-top: 20px;
    padding: 0 30px;
    
    .tabs {
        margin-top: 20px;

        .header {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include theme() {
                background-color: theme-get('bg-color-button') !important;
                border: 1px solid theme-get('border-chart') !important;
            }

            img {
                margin-right: 15px;
                cursor: pointer;
            }
        }

        .inner-tab {
            @include theme() {
                background-color: theme-get('bg-tab-content') !important;
                border: 1px solid theme-get('border-chart') !important;
            }
        }
    }

    .nav-pills {}

    .nav-pills li {
        @include font-12;
        display: inline-block;
        width: 70px;
        cursor: pointer;

        @include theme() {
            color: theme-get('text-title-tab') !important;
        }

        font-weight: bold;
        margin-left: 20px;
    }

    .nav-pills li:hover {
        font-weight: bold;
    }
}