.auto-combo-box-wraper {
    // margin-right: 4px;
    display: flex;
    width: 230px;
    font-size: 12px;
    margin: 0 0.25rem;

    .combo-box-header-wrapper {
        width: 100%;
        background-color: #262831;
        color: rgba(255, 255, 255, 0.8);
        background-color: #333644;
        cursor: text;
        height: 22px;
        border-radius: 4px;
        border: solid 0.5px rgba(255, 255, 255, 0.5);
        padding: 0 0.5rem;
        .combo-box-header {
            color: #f8f8f8;
            font-size: 12px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            border: none;
            background-color: transparent;
        }
    }

    .combo-box-list {
        position: absolute;
        top: 35px;
        z-index: 1;
        background-color: #404457;
        min-width: 230px;
        max-height: 300px;
        overflow-y: scroll !important;
        display: flex;
        flex-direction: column;
        gap: 2px;

        .combo-item {
            width: 100%;
            background-color: #404457;
            color: rgba(255, 255, 255, 0.5);
            margin: 0;
            padding: 0;
            border-radius: 0;
            display: flex;
            padding: 0 5px;
            &:hover {
                background-color: #262831;
                color: #fff;
            }
        }
        .selected-combo-item {
            background-color: #262831;
            color: #fff;
        }
    }
}
