.sql-result-wrapper {
    width: 100%;
    overflow: auto;
    height: calc(100% - 40px);
    .scroll-wrapper {
        position: relative;
        overflow: scroll;
        height: 100%;
        // background-color: white;
    }

    .sql-modal-title {
        display: flex;
        justify-content: space-between;

        .sql-modal-title-content {
            height: 40px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sql-modal-close {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;
        }
    }
    .sql-modal-item {
        height: 40px;
        padding: 10px;
    }
}

.sql-result-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.sql-result-wrapper::-webkit-scrollbar-thumb {
    background-color: #4c4c4c !important;
    border-radius: 10px;
    background-clip: padding-box;
}
.sql-result-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
.sql-result-wrapper::-webkit-scrollbar-corner {
    background: transparent !important;
}
