@import '@/assets/scss/theme.scss';

.date-picker {
    max-width: max-content;
    .input-slot-image {
        width: 30px;
        height: 30px;
        color: #e7e8ea;
        background: linear-gradient(#2ed0df, #08a5bc);
        border: 1px solid #57d6f1;
    }
}
.date-picker.disabled .input-slot-image {
    border: 1px solid;
    @include theme() {
        background: theme-get('bg-color-input');
        border-color: theme-get('border-color-input');;
        color: theme-get('text-color');
    }
    cursor: not-allowed;
}
