@import '@/assets/scss/theme.scss';

.date-picker {
    max-width: max-content;
    .input-slot-image {
        width: 30px;
        height: 30px;
        color: #e7e8ea;
        background: linear-gradient(#2ed0df, #08a5bc);
        border: 1px solid #57d6f1;
    }
}
.date-picker.disabled .input-slot-image {
    background: rgb(32, 32, 32);
    border: 1px solid rgb(56, 56, 56);
    color: rgb(119, 119, 119);
    cursor: not-allowed;
}
