@import '/src/assets/scss/theme.scss';

.color-picker {
    position: absolute !important;
    z-index: $color-dropdown-idx;
    right: 0;
    top: 20px;
}

.transform-block-wrap {
    display: flex;
    border: 1px solid #777777;
    border-radius: 4px;
    padding: 8px;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;

    textarea {
        border-radius: 4px;
        background-color: #323644;
        color: $text-w;
        min-height: 32px;
        resize: vertical;
        padding: 8px;
        border: solid 0.5px rgba(255, 255, 255, 0.5);
        flex-grow: 1;
    }
    .divider {
        width: 100%;
        height: 1px;
        background-color: #3a3b44;
    }
    .transform-block {
        display: flex;
    }
    .transform-block-title {
        width: 90px;
        padding: 0.3rem 0.5rem;
    }

    .transform-block-alias {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.transform-data-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dsh-trx-modal {
    .trx-modal {
        display: flex;
        flex-direction: column;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            width: 100%;
            padding: 1.75rem 1.75rem 1rem 1.75rem;
        }
        &-body {
            display: flex;
            flex-direction: column;
            border-top: 0.5px solid #9c9da6;
            padding: 20px 32px;
            gap: 8px;

            a {
                cursor: pointer;
            }

            &-desc {
                font-size: 14px;
                color: #d7d7d7;

                &-ex {
                    font-size: 12px;
                    color: #c8c8c8;
                }
            }
        }
        &-footer {
            display: flex;
            align-items: end;
            justify-content: end;
            padding: 8px;
        }
    }
}
