.open-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    &-button {
        color: #dbdbdb;
        background: rgba(255, 255, 255, 0.13);
        border: 1px solid rgba(255, 255, 255, 0.13);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 74px;

        &:hover {
            background-color: #262831;
        }
    }
}
