.select-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    // margin-left: 8px;

    &-button {
        color: #dbdbdb;
        background: rgba(255, 255, 255, 0.13);
        border: 1px solid rgba(255, 255, 255, 0.13);
        font-size: 12px;

        &:hover {
            background-color: #262831;
        }
    }

    &-modal {
        &-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1.75rem 1.75rem 1rem 1.75rem;

            &-content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
            }
        }

        &-tool-bar {
            display: flex;
            align-items: center;
            padding: 0 2rem 0.75rem 1.6rem;

            svg {
                color: rgba(38, 40, 49, 0.5);
            }

            &-content {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                border-radius: 5px;
                border: 1px solid #5a5a5a;
                svg {
                    font-size: 20px;
                    color: #5a5a5a;
                }

                &-active {
                    cursor: pointer;
                    border: 1px solid #838383;
                    svg {
                        color: #838383;
                    }

                    &:hover {
                        border-radius: 5px;
                        border: 1px solid #b3b3b3;

                        svg {
                            color: #b3b3b3;
                        }
                    }
                }
            }

            .select-input-modal-input-wrapper {
                .select-input-modal-input-item-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: #9c9da6;

                    .select-input-modal-input-item {
                        cursor: pointer;
                        height: 20px;
                        padding: 2px;
                        margin-left: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 15px;
                            height: 15px;
                            color: #9c9da6;
                        }

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.5);
                            border-radius: 5px;
                            color: white;

                            svg {
                                color: white;
                            }
                        }

                        &-split {
                            margin-left: 4px;
                            cursor: default;
                        }
                    }

                    &:last-child {
                        .select-input-modal-input-item {
                            cursor: default;
                            &:hover {
                                background-color: rgba(38, 40, 49, 0.1);
                                border-radius: 5px;
                                color: #9c9da6;
                            }
                        }
                    }
                }
            }
        }

        &-file-button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-input-wrapper {
            height: 34px;
            flex-grow: 1;
            display: flex;
            padding-left: 10px;
            justify-content: start;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
            border: solid 0.5px rgba(255, 255, 255, 0.5);
            background-color: rgba(38, 40, 49, 0.5);

            input {
                color: rgba(255, 255, 255, 0.5) !important;
                width: 100%;
                height: 100%;
                outline: none;
                color: rgba(38, 40, 49, 0.5);
                background-color: transparent;
                border: none;
            }
        }

        &-file-broswer {
            border-top: 0.5px solid #9c9da6;
            border-bottom: 0.5px solid #9c9da6;
            background-color: rgba(38, 40, 49, 0.5);
            min-height: 330px;
            max-height: 330px;

            &-header {
                display: flex;
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
                color: rgba(255, 255, 255, 0.5);
                font-size: 12px;
                height: 26px;

                span {
                    display: flex;
                    align-items: center;
                }
            }

            &-content {
                color: #fff;
                max-height: 300px;
                overflow-y: auto;

                .row {
                    cursor: pointer;
                    height: 26px;
                    display: flex;
                    border-radius: 10px;
                    margin: 0.1rem 0.5rem;
                    align-items: center;
                    &:hover {
                        background-color: #4199ff;
                    }

                    .pl {
                        padding-left: 1rem;

                        .pl-icon {
                            width: 18px;
                            height: 18px;

                            svg {
                                width: 100%;
                            }
                        }
                    }

                    .list-wrapper {
                        width: 48%;
                        min-width: 48%;
                        max-width: 48%;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .selected {
                    background-color: #419aff;
                }
            }
        }

        &-button-group {
            width: 100%;
            padding: 1.75rem 1.75rem 2.5rem 1.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
