@import '@/assets/scss/theme.scss';

.tab-list {
    button {
        color: $text-w;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        // background-color: $d-background-opa;
        // background-color: white;
        flex-direction: row;
        width: 180px;
        height: 100%;
        border-top: 1px solid #121212;
        border-left: 1px solid #121212;
        border-right: 1px solid #121212;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-12;
        padding: 4px 8px;
        // div {
        //     height: 100%;
        //     display: flex;

        // }
        div {
            display: flex;
            align-items: center;
            i {
                margin-right: 4px;
            }
        }
    }

}
