.icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: relative;
    cursor: pointer !important;

    &:hover {
        svg {
            fill: #FFFFFF;
            path {
                fill: #FFFFFF
            }
        }
    }

    .ext-btn-badge {
        position: absolute;
        top: 4px;
        right: 6px;
    }
}

