.extension-form {
    width: 48px;
    background: #242424;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .extension-top-list-item {
        width: 48px;
        cursor: pointer;
    }

    svg {
        cursor: pointer;
    }
    z-index: 999;
}
