@import '/src/assets/scss/theme.scss';

.extension-form {
    width: 48px;
    background: #242424;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .extension-top-list-item {
        width: 48px;
        cursor: pointer;
    }
    .extension-bottom-list {
        .menu-wrapper {
            position: absolute;
            bottom: 0;
        }
    }

    svg {
        cursor: pointer;
    }
}
