@import '/src/assets/scss/theme.scss';
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 40, 49, 0.5);
    z-index: $modal-back-drop-idx;
}
.tag_plus_wrap {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #262831 !important;
    border: solid 0.5px rgba(255, 255, 255, 0.5) !important;
    margin-top: 20px;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    div {
        margin-top: 10px;
    }
    position: relative;

    &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: $hover-effect-idx;
        @include theme() {
            border: solid 0.5px theme-get('hover-text') !important;
        }
    }
}
