@use '@/design-system/tokens' as t;

.tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabs__header {
    background-color: t.$bg-primary;
    height: 40px;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;

    &--sub {
        background-color: transparent;
    }
}

.tabs__list {
    padding: 0 4px;
    max-width: calc(100% - 48px);
    overflow-x: visible;
    overflow-y: hidden;
    display: flex;
    position: relative;
}

.tabs__actions {
    margin-left: 2px;
    display: flex;
    margin-bottom: 4px;
    align-items: end;
}

.tabs__content {
    flex: 1;
    background: var(--tabs-content-bg, t.$bg-header);
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.tabs__panel {
    width: 100%;
    height: 100%;
    background-color: t.$bg-tab-active;
}

.tabs__item {
    display: flex;
    align-items: center;
    gap: t.$spacing-6;
    padding: t.$spacing-8 t.$spacing-12;
    height: 100%;
    background-color: t.$bg-primary;
    border: none;
    border-top: 2px solid t.$bg-primary;
    color: t.$text-tertiary;
    width: 150px;
    cursor: pointer;
    font-size: t.$font-size-sm;
    font-family: inherit;
    transition: all 0.15s ease;
    outline: none;
    border-radius: 0;
    margin-top: 4px;
    text-wrap-mode: nowrap;

    &--selected {
        color: t.$text-primary;
        background-color: t.$bg-tab-active;
        border-top: 1px solid t.$primary-hover;
    }

    // Sub tab variant
    &--sub {
        background-color: transparent;
        border-top: 2px solid transparent;
        padding: 0;

        .tabs__item-inner {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: t.$spacing-6;
            padding: t.$spacing-8 t.$spacing-10;
            margin: 0 t.$spacing-4;
            transition: all 0.15s ease;
        }

        &:hover:not(.tabs__item--selected) {
            .tabs__item-inner {
                background-color: t.$bg-tab-hover;
                border-radius: 4px;
            }
        }

        &.tabs__item--selected {
            background-color: t.$bg-sub-tab-active;
            .tabs__item-inner {
                border-radius: 4px;
            }
            border-top: 0.5px solid t.$primary-hover;
        }
    }
}

.tabs__item-inner {
    display: flex;
    align-items: center;
    gap: t.$spacing-6;
}
