@use '@/design-system/tokens' as t;
@import '/src/assets/scss/theme.scss';

.tab_button {
    margin-top: 4px;
    width: 200px;
    height: 37px;
    font-size: 13px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px;
    cursor: pointer;
    border: none;
    outline: none;
    border-top: 2px solid t.$bg-primary;
    border-radius: 0;
    background-color: t.$bg-primary;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        font-size: 13px;
    }
    .tab-inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px 8px 10px !important;
        margin: 0px 5px 0px 5px !important;
        .off-saved {
            width: 15px;
            height: 15px;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .default-form {
            padding-left: 4px !important;
            width: 15px;
            height: 15px;
            padding: 0 !important;
        }
        .tab-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 0px !important;
            .tab-text {
                padding: 0 !important;

                max-width: 120px;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            svg {
                width: 100%;
                margin-right: 4px;
                padding: 0 !important;
            }
        }
    }
    span {
        padding-left: 8px;
        color: t.$text-tertiary;
    }
    svg {
        color: t.$text-tertiary;
    }
    .tab_close {
        padding-left: 4px !important;

        width: 15px;
        height: 15px;
        right: 16px;
        padding: 0;
        font-size: 16px;
        display: flex;
        align-items: center;
        svg {
            padding: 0;
        }
    }
}

.tab_select {
    background-color: t.$bg-tab-active;
    border-top: 1px solid t.$primary-hover;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    z-index: $tab-select-style-idx;
    svg,
    span {
        color: t.$text-primary;
    }
    .round_right_wrap {
        width: 15px;
        height: 15px;
        background-color: t.$bg-tab-active;
        position: absolute;
        bottom: 0px;
        left: -15px;
        transform: scaleX(-1), scaleY(-1);

        .round_right {
            width: 15px;
            height: 15px;
            border-radius: 0 0 80% 0;
            background-color: t.$bg-primary;
            position: absolute;
            bottom: 0;
            left: 0px;
        }
    }

    .round_left_wrap {
        width: 15px;
        height: 15px;
        background-color: t.$bg-tab-active;
        position: absolute;
        bottom: 0px;
        right: -15px;
        transform: scaleX(-1), scaleY(-1);
        z-index: $tab-round-style-idx;

        .round_left {
            width: 15px;
            height: 15px;
            border-radius: 0 0 0 80%;
            background-color: t.$bg-primary;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
.tab_none_select {
    &::after {
        content: '';
        background-color: rgba(255, 255, 255, 0.13);
        width: 1px;
        height: 24px;
        position: absolute;
        right: -3px;
        z-index: $tab-none-select-stye-idx;
    }
    &:hover {
        .tab-inner {
            background-color: t.$bg-tab-hover;
            border-radius: 4px;
        }
        svg,
        span {
            color: t.$text-primary;
        }
    }
}
.tab_none_select_drag_over {
    svg,
    span {
        color: t.$text-primary !important;
    }
}
