.dashboard-view-header {
    width: 100%;
    height: 50px;
    padding: 0 1.5rem;
    // background-color: #272831;
    display: flex;
    align-items: center;

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    &-l {
        display: flex;
        align-items: center;
        gap: 4px;
        .board-header-variable-collapse {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5);
            &:hover {
                color: #f8f8f8;
            }
        }
    }

    .calendar-group {
        display: flex;
        .calendar {
            &:hover {
                color: #f8f8f8;
            }
            color: #939498;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            height: 26px;
            font-size: 13px;
            border-radius: 6px;
            padding: 0 8px;

            svg {
                margin-right: 4px;
                height: 16px;
            }
        }
    }

    .header-menu {
        display: flex;
        margin-left: auto;

        align-items: center;
        gap: 5px;

        .list-menu {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        height: auto;
        gap: 5px;

        .header-menu {
            margin-left: 0;
            flex-direction: column;

            .calendar-group {
                .calendar {
                    font-size: 12px;
                }
            }

            .list-menu {
                display: none;
            }
        }
    }
}
