.mrk-form {
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    ul,
    ol {
        list-style: revert;
    }
    article {
        width: 100%;
    }

    pre {
        position: relative;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .cp-button {
        width: 30px;
        height: 30px;
        padding: 5px;

        position: absolute;
        top: 0.5rem;
        right: 0.5rem;

        background-color: transparent;
        border-radius: 8px;

        cursor: pointer;

        &:hover {
            background-color: #52535a;
        }

        svg:hover {
            fill: #f8f8f8;
        }
    }
}
