.worksheet-editor-wrapper {
    display: flex;

    .worksheet-editor {
        width: 100%;

        .worksheet-content {
            border: solid 1px #393b41;
            border-radius: 10px;

            .worksheet-ctr {
                display: flex;
                height: 40px;
                justify-content: end;
                align-items: center;

                .worksheet-ctr-verti-divi {
                    width: 1px;
                    height: 24px;
                    margin: 2px;
                    background-color: rgba(255, 255, 255, 0.2);
                }

                .worksheet-ctr-lang {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    color: rgba(255, 255, 255, 0.5);
                    position: relative;
                    cursor: pointer;

                    :hover {
                        color: #f8f8f8;
                        background-color: #1f2127;
                    }

                    .dropdown {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .worksheet-ctr-lang-content-list {
                            z-index: 1 !important;
                            fill: #f8f8f8;
                            position: absolute;
                            background-color: #393b41;
                            border-radius: 10px;
                            top: 20px;
                            left: 0;
                            color: rgba(255, 255, 255, 0.5);

                            .worksheet-ctr-lang-content {
                                padding: 6px;
                                font-size: 12px;
                            }
                        }

                        .worksheet-ctr-lang-selected {
                            font-size: 12px;
                        }
                    }
                }
            }

            .editor {
                width: 100%;
                height: 100%;
                border: 0.5px solid #393b41;
                padding-bottom: 12px;

                position: relative;

                .drag-stick {
                    width: 100%;
                    height: 30px;
                    cursor: row-resize;
                    background-color: transparent;
                    // background-color: rgba(92, 92, 92, 0.514);
                    transition: all 0.5s;

                    position: absolute;
                    left: 0;
                    bottom: -15px;

                    z-index: 99;
                }
            }
        }

        .result {
            width: 100%;
            height: auto;
            margin: 1rem 0;

            .result-worksheet {
                overflow: hidden;

                .result-wrapper {
                    border-radius: 10px !important;
                }

                .result-worksheet-sql {
                    div {
                        table {
                            border: solid 1px #393b41;
                            border-radius: 10px;
                            width: calc(100%);
                            table-layout: auto;
                            font-family: 'D2Coding';
                            overflow: hidden;
                            border-collapse: separate;
                            background-color: rgb(43, 43, 43);

                            thead {
                                color: #fdb532;
                                background-color: #1c1c21;
                                position: sticky;
                                top: 0;
                                left: 0;
                                right: 0;
                                z-index: 10;
                                font-size: 14px;

                                tr {
                                    th {
                                        max-width: 300px;
                                        font-weight: bold;
                                        padding: 0 16px;
                                        min-width: 100px;
                                        height: 25px;
                                        text-align: start;
                                        vertical-align: center !important;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }

                            tbody {
                                tr {
                                    td {
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        font-size: 14px;
                                        white-space: nowrap;
                                        max-width: 20vw;
                                        font-weight: 300;
                                        vertical-align: center !important;
                                        padding: 0 16px;
                                        height: 25px;
                                    }
                                }

                                tr:nth-child(2n) {
                                    background-color: #1c1c21;
                                }
                            }
                        }

                        blockquote {
                            border-left: solid 4px #393b41;
                            margin: 4px;

                            p {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }

            .result-worksheet-total {
                border-left: solid 4px #393b41;
                margin: 4px;

                span {
                    margin-left: 8px;
                }
            }
        }
    }
}
