.worksheet-editor-wrapper {
    display: flex;

    .worksheet-editor {
        width: 100%;

        .worksheet-content {
            border: solid 1px #393b41;
            border-radius: 10px;

            .worksheet-ctr {
                display: flex;
                height: 40px;
                justify-content: end;
                align-items: center;

                .worksheet-ctr-verti-divi {
                    width: 1px;
                    height: 24px;
                    margin: 2px;
                    background-color: rgba(255, 255, 255, 0.2);
                }

                .worksheet-ctr-lang {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    color: rgba(255, 255, 255, 0.5);
                    position: relative;
                    cursor: pointer;

                    :hover {
                        color: #f8f8f8;
                        background-color: #1f2127;
                    }

                    .dropdown {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .worksheet-ctr-lang-content-list {
                            z-index: 1 !important;
                            fill: #f8f8f8;
                            position: absolute;
                            background-color: #393b41;
                            border-radius: 10px;
                            top: 20px;
                            left: 0;
                            color: rgba(255, 255, 255, 0.5);

                            .worksheet-ctr-lang-content {
                                padding: 6px;
                                font-size: 12px;
                            }
                        }

                        .worksheet-ctr-lang-selected {
                            font-size: 12px;
                        }
                    }
                }
            }

            .editor {
                width: 100%;
                height: 100%;
                border: 0.5px solid #393b41;
                padding-bottom: 12px;

                position: relative;

                .drag-stick {
                    width: 100%;
                    height: 30px;
                    cursor: row-resize;
                    background-color: transparent;
                    // background-color: rgba(92, 92, 92, 0.514);
                    transition: all 0.5s;

                    position: absolute;
                    left: 0;
                    bottom: -15px;

                    z-index: 99;
                }
            }
        }

        .result {
            width: 100%;
            height: auto;
            margin: 1rem 0;

            .result-worksheet {
                border: solid 1px #393b41;
                border-radius: 10px;
                overflow: hidden;

                .result-wrapper {
                    border-radius: 10px !important;
                }
            }

            .result-worksheet-total {
                border-left: solid 4px #393b41;
                margin: 4px;

                span {
                    margin-left: 8px;
                }
            }
        }
    }
}
