.worksheet-wrapper {
    width: 100%;
    height: 100%;

    .worksheet-header {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        background-color: #262831;
        justify-content: space-between;

        svg:hover {
            color: #f8f8f8 !important;
        }
        .divider {
            display: flex;
            height: 20px;
            width: 2px;
            margin: auto 8px;
            background-color: #393b41;
        }
    }

    .worksheet-body {
        width: 100%;
        height: calc(100% - 40px);

        overflow-y: auto;

        background-color: #1b1c21;

        .worksheet {
            width: 90%;
            height: auto;

            padding-top: 40px;
            margin: auto;

            .editor {
                width: 100%;
                height: 100%;

                border: 0.5px solid #393b41;
                background-color: #1f2127;
            }

            .result {
                width: 100%;
                height: auto;

                margin: 1rem 0;
            }
        }
    }
}
