@import '@/assets/scss/theme.scss';
.general-tab {
    padding: 20px;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    display: flex;
    .cfg-input {
        margin-top: 2px;
        margin-bottom: 20px;
    }
    .first-col{
        margin-right: 20px;
        width: 150px;
        .input { 
            height: 26px;
            border: 1px solid $d-border;
            outline: none;
            flex: 1;
        
            @include theme() {
                background-color: theme-get('bg-color-input');
                color: theme-get('text-color');
                padding: $px-5 $px-10;
            }
        
            &:focus {
                @include box-shadow;
            }
        }
    }
    .col1{
        width: 270px;
        .select-div{
            margin-top: 4px;
        }
        .input {
            width: 250px;
            height: 26px;
            border: 1px solid $d-border;
            outline: none;
            flex: 1;
        
            @include theme() {
                background-color: theme-get('bg-color-input');
                color: theme-get('text-color');
                padding: $px-5 $px-10;
            }
        
            &:focus {
                @include box-shadow;
            }
        }
    }
    .col2{
        width: 270px;
        .select-div{
            margin-top: 4px;
        }
        .input {
            width: 230px;
            height: 26px;
            border: 1px solid $d-border;
            outline: none;
            flex: 1;
        
            @include theme() {
                background-color: theme-get('bg-color-input');
                color: theme-get('text-color');
                padding: $px-5 $px-10;
            }
        
            &:focus {
                @include box-shadow;
            }
        }
    }
    .col3{
        width: 270px;
        margin-left: 20px;
        .input {
            width: 230px;
            height: 26px;
            border: 1px solid $d-border;
            outline: none;
            flex: 1;
        
            @include theme() {
                background-color: theme-get('bg-color-input');
                color: theme-get('text-color');
                padding: $px-5 $px-10;
            }
        
            &:focus {
                @include box-shadow;
            }
        }
        .input1 {
            width: 265px;
            height: 26px;
            border: 1px solid $d-border;
            outline: none;
            flex: 1;
        
            @include theme() {
                background-color: theme-get('bg-color-input');
                color: theme-get('text-color');
                padding: $px-5 $px-10;
            }
        
            &:focus {
                @include box-shadow;
            }
        }
    }
}
