@import '@/assets/scss/theme.scss';
.general-tab {
    @include common-input;
    padding: 20px;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    display: flex;
    .cfg-input {
        margin-top: 2px;
        margin-bottom: 20px;
    }
    @include checkbox-common;
    .first-col{
        margin-right: 20px;
        width: 150px;
    }
    .col1{
        width: 270px;
    }
    .col2{
        width: 270px;
    }
    .col3{
        width: 270px;
        margin-left: 20px;
    }
}
