@import '@/assets/scss/theme.scss';

.chart-wrap {
    position: relative;
    @include theme() {
        background-color: theme-get('background-chart');
        color: theme-get('text-chart');
        border: 1px solid theme-get('border-chart');
    }
    @include font-12;
}
