@import '@/assets/scss/variables.scss';
.board-list {
    width: 100%;
    height: 100%;
    background-color: #1b1c21;
    .set-global-option {
        position: relative;
        height: 40px;
        background-color: #262831;
        display: flex;
        align-items: center;
        padding: 0 16px;
        svg {
            font-size: 18px;
            cursor: pointer;
        }
        .icon-btn-disabled {
            cursor: auto;
            svg,
            div {
                fill: rgba(255, 255, 255, 0.205) !important;
            }
        }

        .icon-btn-active-hover {
            background-color: transparent;
            &:hover {
                background-color: #52535a;
            }
        }

        .taz-editor-header-icon {
            width: $editor-header-icon-size;
            height: $editor-header-icon-size;
            fill: #939498a3;
        }
        .taz-editor-header-icon:hover {
            fill: #f8f8f8;
        }
        .border {
            border-left: 1px solid #939498a3;
            height: 50%;
            margin: 0 6px;
        }
        .set-global-option-btn {
            &:hover {
                color: #f8f8f8;
                fill: #f8f8f8;
            }
            color: #939498;
            fill: #939498;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            height: 26px;
            font-size: 13px;
            border-radius: 6px;
            padding: 0 8px;

            svg {
                margin-right: 4px;
                height: 16px;
            }
        }
    }
    .panel-list {
        overflow: auto;
        height: calc(100% - 40px);
        padding: 0 24px;
    }
}
