@import '/src/assets/scss/theme.scss';
.modal-form-chart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #404457;
    width: 600px;
    height: 650px;
    z-index: $modal-idx;
    border-radius: 8px;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    p {
        color: #fdb532;
        font-size: 12px;
        padding: 0 0 0 23%;
        height: 5%;
    }

    .inner-form {
        button {
            border: solid 0.5px #ffffff;
            background-color: transparent;
            padding: 0;
        }
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .header {
            height: 10%;
            padding: 0 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-title {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 4px;
                    font-size: 16px;
                }
            }
            .header-close {
                cursor: pointer;
            }
        }
    }
    .body {
        height: 80%;
    }
    .table-select {
        height: 10%;
        padding: 0 16% 0 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            width: 20%;
            opacity: 0.5;
        }
        .combobox-select {
            width: 80%;
        }
    }
    .tag-select {
        height: 70%;
        padding: 0 16% 0 8%;
        display: flex;
        justify-content: space-between;
        .tag-form {
            width: 80%;
            height: 100%;
        }
        .filter-form-tag {
            width: 100%;
            display: flex;
        }
        .title {
            width: 20%;
            opacity: 0.5;
            display: flex;
            flex-direction: column;

            text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .tag-input-form {
            background-color: transparent;
            width: 100%;
            display: flex;
            gap: 10px;

            .search {
                min-width: 34px;
                justify-content: center;
                display: flex;
                align-items: center;
                border-radius: 8px;
                background-color: rgba(38, 40, 49, 0.5);
                border: solid 0.5px #4199ff;
                color: #4199ff;
                height: 34px;
                font-size: 14px;
            }
        }
        .select-tag-form {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-between;
            .select-tag-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 49%;
                .select-tab {
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(38, 40, 49, 0.5);
                    border: solid 0.5px rgba(255, 255, 255, 0.5);
                    min-height: 30px;
                    height: 80%;
                    border-radius: 8px;
                    padding: 8px 0;
                    button {
                        width: 100%;
                        align-items: center;
                        border: none;
                        display: flex;
                        justify-content: space-between;
                        gap: 5px;
                        color: white;
                        padding: 0 8px;
                        padding-bottom: 4px;

                        .tag-text,
                        .select-text {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .tag-text {
                            max-width: 100%;
                        }
                        .select-text {
                            max-width: calc(100% - 70px);
                        }
                    }
                }
                .bottom-page {
                    padding-top: 8px;
                    button {
                        margin: 0 4px;
                        width: 20px;
                        height: 20px;
                        color: white;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        border-radius: 6px;
                    }
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    .pagination {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
    .chart-select {
        height: 15%;

        padding: 0 16% 0 8%;
        display: flex;
        justify-content: space-between;
        .title {
            width: 20%;
            opacity: 0.5;
        }
        .selected-chart {
            height: 23%;
        }
        .select-chart-form {
            width: 80%;
            .tag_modal_chart_wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .tag_modal_chart_btn {
                    cursor: pointer;
                    margin-right: 9px;
                    border-radius: 8px;

                    border: solid 0.5px transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        box-shadow: inset 0 -2px 62px 0 rgba(65, 153, 255, 0.5);
                        border: solid 0.5px #4199ff;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .last {
                    margin-right: 0;
                }
            }
        }
    }
    .footer {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}
