.tql-form {
    position: relative;
    height: 100%;

    .text-panel-value {
        position: absolute;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .map_container {
        height: 100%;
        .leaflet-container {
            z-index: 1 !important;
        }
    }
    .chart_container {
        height: 100%;
    }
}
