@use '@/design-system/tokens' as t;

.toast-custom-outside {
    display: flex;
    border-radius: t.$border-radius-md;
    margin: t.$spacing-0 !important;
    padding: t.$spacing-0 !important;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: t.$shadow-xl;
    background-color: t.$bg-elevated;

    div:nth-child(1) {
        margin: t.$spacing-0;
        padding: t.$spacing-0;
    }
}

.toast-custom-style {
    color: t.$color-white;
    display: flex;
    border-radius: t.$border-radius-md;
    max-width: 350px;
    pointer-events: auto;
    will-change: transform;
    align-items: center;
    padding: t.$spacing-8 !important;
    line-height: 1.3;
    background-color: t.$bg-elevated;

    .toast-custom-text {
        display: flex;
        justify-content: center;
        margin: t.$spacing-4 t.$spacing-10;
        color: inherit;
        flex: 1 1 auto;
        white-space: pre-line;
    }
    // ERROR
    .toast-custom-icon-error {
        cursor: pointer;
        width: t.$icon-size-lg;
        height: t.$icon-size-lg;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: t.$border-radius-circle;
        background-color: t.$error-main;
        padding: t.$spacing-1 !important;

        svg {
            width: t.$icon-size-lg;
            height: t.$icon-size-lg;
            stroke-width: 1px;
            color: t.$color-white;
        }
    }
    // SUCCESS
    .toast-custom-icon-success {
        cursor: pointer;
        width: t.$icon-size-lg;
        height: t.$icon-size-lg;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: t.$border-radius-circle;
        background-color: t.$success-main;
        padding: t.$spacing-1 !important;

        svg {
            width: t.$icon-size-lg;
            height: t.$icon-size-lg;
            stroke-width: 1px;
            color: t.$color-white;
        }
    }
}

@keyframes toast-slide-in {
    0% {
        transform: translate3d(0, -200%, 0) scale(0.6);
        opacity: 0.5;
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }
}
