.collapse {
    margin-top: 8px;
    .collapse-header {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        padding: 4px;
        border-radius: 4px;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: rgba(30, 32, 36, 0.6);
        }
        .collapse-icon {
            display: flex;
            align-items: center;
            margin-right: 4px;
            transition: transform 0.2s ease;

            svg {
                width: 14px;
                height: 14px;
            }

            &--open {
                transform: rotate(90deg);
            }
        }
    }

    .collapse-body {
        margin-top: 5px;
        margin-left: 18px;
    }
}
.collapse-disable {
    cursor: default;

    .collapse-body {
        opacity: 0.4;
    }
}
.collapse-body {
    display: flex;
    flex-direction: column;
}
