.collapse {
    .collapse-header {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background-color: rgba(43, 45, 51, 0.8);
        }
        .collapse-icon {
            display: flex;
            align-items: center;
            margin-right: 4px;
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    .collapse-body {
        margin-top: 5px;
        margin-left: 18px;
    }
}
.collapse-disable {
    cursor: default;

    .collapse-body {
        opacity: 0.4;
    }
}
.collapse-body {
    display: flex;
    flex-direction: column;
}
