.license-modal {
    &-body {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.7);
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-register {
        color: #4199ff;
        cursor: pointer;

        label {
            cursor: pointer;
        }

        input {
            display: none;
        }
    }
}
