@import '/src/assets/scss/theme.scss';

// Download modal specific styles
.tql-download {
    .modal {
        width: 450px !important;
        max-width: 450px !important;
    }
}

.tql {
    svg {
        cursor: pointer;
    }
    .save-dashboard-context-menu {
        position: fixed;
        z-index: $modal-idx;
    }

    .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1.75rem 1.75rem 1rem 1.75rem;

        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
        }
    }

    .tool-bar {
        display: flex;
        align-items: center;

        padding: 0 1.75rem 0.75rem 1.75rem;

        svg {
            color: rgba(38, 40, 49, 0.5);
        }

        .dark {
            &-border {
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
            svg {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .active {
            background-color: rgba(255, 255, 255, 0.1);
            svg {
                color: white;
            }
        }

        &-content {
            width: 24px;
            height: 24px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;
            border: 1px solid rgba(38, 40, 49, 0.5);

            svg {
                font-size: 20px;
            }
        }

        .file-button {
            width: 40px;
            height: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .search-bar {
        padding: 0 1.75rem 0.75rem 1.75rem;
    }

    .file-broswer {
        border-top: 0.5px solid #8d8e92;
        border-bottom: 0.5px solid #8d8e92;
        background-color: rgba(255, 255, 255, 0.5);
        min-height: 300px;

        &-header {
            display: flex;

            border-bottom: 0.5px solid rgba(38, 40, 49, 0.5);
            color: rgba(38, 40, 49, 0.5);

            font-size: 12px;
            height: 26px;

            span {
                display: flex;
                align-items: center;
            }
        }

        &-content {
            color: #262831;
            max-height: 300px;

            overflow-y: auto;

            .row {
                cursor: pointer;

                height: 26px;
                display: flex;
                border-radius: 10px;
                margin: 0.1rem 0.5rem;
                &:hover {
                    background-color: #419aff24;
                }

                .pl {
                    padding-left: 1rem;
                    font-size: 30px;

                    .pl-icon {
                        width: 18px;
                        height: 18px;

                        svg {
                            width: 100%;
                        }
                    }
                }

                .list-wrapper {
                    width: 48%;
                    min-width: 48%;
                    max-width: 48%;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .selected {
                background-color: #419aff24;
            }
        }
    }

    .file-broswer-dark {
        border-top: 0.5px solid #9c9da6;
        border-bottom: 0.5px solid #9c9da6;
        background-color: rgba(38, 40, 49, 0.5);
        min-height: 300px;

        &-header {
            display: flex;

            border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
            color: rgba(255, 255, 255, 0.5);

            font-size: 12px;
            height: 26px;

            span {
                display: flex;
                align-items: center;
            }
        }

        &-content {
            color: #fff;
            max-height: 300px;

            overflow-y: auto;

            .row {
                cursor: pointer;

                height: 26px;
                display: flex;
                border-radius: 10px;
                margin: 0.1rem 0.5rem;
                &:hover {
                    background-color: #4199ff;
                }

                .pl {
                    padding-left: 1rem;

                    .pl-icon {
                        width: 18px;
                        height: 18px;

                        svg {
                            width: 100%;
                        }
                    }
                }

                .list-wrapper {
                    width: 48%;
                    min-width: 48%;
                    max-width: 48%;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .selected {
                background-color: #419aff;
            }
        }
    }

    .save-option {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
        .save-file-name {
            padding-right: 3px;
            font-size: 12px;
            .input-wrapper {
                border: solid 0.5px rgba(255, 255, 255, 0.5);
                input {
                    color: white !important;
                }
            }
        }
        .save-file-data {
            font-size: 12px;
            .select-input {
                input {
                    cursor: pointer;
                }
            }
            .select-options {
                .options-item {
                    cursor: pointer;
                }
            }
        }
        .save-file-block {
            font-size: 12px;
            .select-input {
                input {
                    cursor: pointer;
                }
            }
            .select-options {
                .options-item {
                    cursor: pointer;
                }
            }
        }
    }

    .modal {
        width: 90%;
        max-width: 744px;
        max-height: 650px;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 10px;

        box-sizing: border-box;

        svg {
            font-size: 18px;
        }

        &-header {
            width: 100%;
        }

        &-body {
            width: 100%;
        }

        &-footer {
            width: 100%;
        }
    }

    .button-group {
        width: 100%;

        padding: 1.75rem 1.75rem 2.5rem 1.75rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-wrapper {
        height: 34px;

        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        border: solid 0.5px rgba(38, 40, 49, 0.5);
        background-color: #fcfcfc;

        padding: 0.5rem;

        &-dark {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
            border: solid 0.5px rgba(255, 255, 255, 0.5);
            background-color: rgba(38, 40, 49, 0.5);

            input {
                color: rgba(255, 255, 255, 0.5) !important;
            }
        }

        input {
            width: 100%;
            height: 100%;

            outline: none;
            color: rgba(38, 40, 49, 0.5);
            background-color: transparent;
            border: none;
        }
    }
}
