.data-form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 100%;
    .add-tag {
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center !important;
    }
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(38, 40, 49, 0.5);
        z-index: 998;
    }
    .add-tag:hover {
        background-color: #262831 !important;
    }
    .tag-list {
        .tag-names-title {
            display: flex !important;
            align-items: flex-end;
            width: 150px !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        background-color: rgba(38, 40, 49, 0.49);
        border: 0.5px solid rgba(255, 255, 255, 0.5);
        height: 60px;
        min-height: 60px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-top: 8px;
        border-radius: 6px;
        justify-content: space-between;
        .set-mode {
            display: flex;
            align-items: center;
            .calc-mode,
            .tag-names,
            .alias {
                display: flex;
                align-items: center;
                margin-right: 40px;
                display: flex;
                .select-option {
                    display: flex;
                    align-items: center;
                    width: 120px;
                    background-color: #2a2d37;
                    border: 0.5px solid rgba(255, 255, 255, 0.5);
                    color: #f8f8f8;

                    border-radius: 4px;
                }
                select {
                    option {
                        background: #333644 !important;
                        border-radius: 0;
                    }
                    color: #f8f8f8;
                    background: transparent;
                    border: none;
                    width: 100px;
                    padding: 0 4px;
                    height: 24px;
                }
                span {
                    width: 80px;
                    display: block;
                }
            }
        }
        .close {
            svg {
                cursor: pointer;
            }
        }
    }
}
