.time-range {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    height: 100%;
    padding-top: 2%;
    div {
        margin-bottom: 8px;
    }
    .first-row {
        .from,
        .to {
            display: flex;
            span {
                width: 100px;
            }
        }
        .modal-date-picker {
            position: absolute;
            z-index: 8;
            bottom: 28px;
            left: 0px;

            input {
                filter: invert(1);
            }
        }
        .time-range-select-box {
            position: relative;
        }
        width: 300px;
    }
    .second-row {
        display: flex;
        .quick-range {
            width: 100px;
        }
        .quick-select-form {
            margin: 0 !important;
            display: flex;
            width: 520px;
            flex-wrap: wrap;
            div {
                margin-bottom: 2px;
                span {
                    cursor: pointer;
                }

                color: #4199ff;
                width: 130px;
            }
        }
    }
}
