.backup-database-wrapper {
    min-height: 22px;
    // overflow: hidden;
    // display: flex;

    .bk-wrap {
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        background-color: #242424;

        .backup-db-header {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .bk-folder-wrap {
                display: flex;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 20px;
                    min-height: 20px;

                    .db-exp-arrow {
                        margin: 0px;
                    }

                    svg {
                        width: 13px;
                        height: 13px;
                    }
                }

                &-name {
                    // margin-top: 3px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .backup-db-icon {
                display: flex;
                padding-right: 11px;
            }
        }
    }

    .backup-wrap {
        flex-direction: column;
        display: flex;
        cursor: default;

        .backup-item {
            height: 26px;
            padding: 2px 6px 2px 16px;
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            align-items: center;
            word-break: break-all;
            justify-content: space-between;

            &:hover {
                background-color: #242424;
            }

            &-path {
                font-size: 14px;
                margin-left: 4px;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
            }
            &-l {
                display: flex;
                align-items: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
                min-width: 4px;
                margin: 0;

                svg {
                    min-width: 18px;
                }
            }
            &-r {
                padding-right: 3px;
            }
        }
    }
}
.db-exp-comm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 13px;
    .icons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        width: 16px;
        height: 22px;
        margin-right: 6px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        svg {
            width: 16px;
        }
    }
}
.db-wrap {
    padding: 2px 6px 2px 16px;
    overflow: hidden;
    cursor: pointer;

    .db-folder-wrap {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;

        &-name {
            margin-top: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.size-16 {
    width: 16px;
    height: 16px;
}

.db-wrap:hover {
    background-color: #242424;
}
.user-wrap {
    flex-direction: column;
    display: flex;
    .user-column {
        flex-direction: column;

        .user-folder-wrap {
            padding-left: 25px;
            cursor: pointer;

            display: flex;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;

            &-name {
                margin-top: 3px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .user-folder-wrap:hover {
            background-color: #242424;
        }
    }
}
.table-unmount {
    display: flex;
    justify-content: end !important;
    align-items: end !important;
    margin-right: 4px;
}
.table-wrap {
    flex-direction: column;

    &-label {
        &-content {
            padding-left: 52px;
            cursor: default;
            font-size: 14px;
            color: #c4cae1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-content {
        .table-column-wrap {
            padding-left: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .icon-btn-wrapper {
                justify-content: start;
                .tooltip-icon {
                    display: flex;
                    justify-content: start;
                    width: 100%;
                    color: white;
                }
            }
            .tooltip-div {
                width: fit-content;
            }

            cursor: pointer;

            .table-column-l {
                display: flex;
                flex-direction: row;
                align-items: end;
                overflow: hidden;
                text-overflow: ellipsis;

                .table-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .table-column-wrap:hover {
            background-color: #242424;
        }
        .table-type {
            font-size: 14px;
            padding-right: 4px;
            white-space: nowrap;
            color: #8c8c8c;
        }

        .table-column-content {
            display: flex;
            flex-direction: row;
            cursor: default;
            padding-left: 52px;

            &-row {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: default;
                .l-txt {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .table-column-content:hover {
            background-color: #242424;
        }
    }
    .r-txt {
        font-size: 12px;
        color: #939498;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        min-width: 4px;
        margin: 0;
        padding-right: 16px;
        align-content: center;
    }
    .r-btn {
        display: flex;
        padding-right: 8px;

        svg {
            cursor: pointer;
        }
    }
}
.db-exp-arrow {
    width: 12px;
    height: 22px;
    min-width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}
.db-exp-arrow-bottom {
    rotate: 90deg;
}
