@use '@/design-system/tokens' as t;

.password-input {
    &__toggle {
        // Custom styles for the toggle button
        // min-width: t.$input-action-button-width;
        width: t.$input-action-button-width;
        height: t.$input-action-button-height;
        // border-radius: t.$border-radius-sm;

        // Override default button styles for compact appearance
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}
