@import '/src/design-system/tokens/index.scss';

.pagination {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;

    button {
        min-width: 28px;
        width: 28px;
        height: 28px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }

        &:not(:disabled):hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    input {
        width: 40px;
        text-align: center;
    }

    .totalPage {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        white-space: nowrap;
        user-select: none;
    }
}
