@import '@/assets/scss/theme.scss';
.combobox-select {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    @include theme() {
        border: 1px solid theme-get('border-color-input');
        color: theme-get('text-color');
        background-color: theme-get('bg-color-input');
    }
    color: $text-w;
    outline: none;
    // margin: 0 8px;
    padding: 0 $px-15;
    // min-width: 200px;
    min-height: 24px;
    font-size: $font-12;
    position: relative;
    &:focus {
        @include box-shadow;
    }
    &__item {
        background-color: $d-background;
        padding: 0 $px-15;
        @include font-12;
        @include theme() {
            background-color: theme-get('bg-color');
            color: theme-get('text-color');
        }
    }
    -webkit-appearance: auto;
    appearance: auto;
}
.axe-tab {
    padding: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: flex;
    width: 1000px;

    @include common-input;
    @include checkbox-common;

    .tag-list {
        width: 250px;
        margin-top: 40px;
        height: 234px;
        border: 1px solid $d-border;

        @include theme() {
            background-color: theme-get('bg-color-input');
            color: theme-get('text-color');
            border-color: theme-get('border-color-input');
            padding: $px-5 $px-10;
        }

        .tag-item-wrapper {
            margin-bottom: $px-10;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .tag-item {
                border: 1px solid $d-border;
                width: 200px;

                @include theme() {
                    background-color: theme-get('bg-color-input');
                    color: theme-get('text-color');
                    border-color: theme-get('border-color-input');
                    padding: $px-5 $px-10;
                }

                span {
                    margin-left: 30px;
                }
            }
        }
    }

    // .input {
    //     width: 210px;
    //     height: 26px;
    //     border: 1px solid $d-border;
    //     outline: none;
    //     flex: 1;

    //     @include theme() {
    //         background-color: theme-get('bg-color-input');
    //         color: theme-get('text-color');
    //         padding: $px-5 $px-10;
    //     }

    //     &:focus {
    //         @include box-shadow;
    //     }
    // }

    .cfg-input {
        margin-top: 2px;
        margin-bottom: 20px;
    }

    .col1 {
        margin-right: 20px;

        .checkbox-wrapper1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;

            input {
                margin-top: 5px;
                margin-right: 5px;
            }

            .title1 {
                font-weight: 700;
                font-style: normal;

                @include theme() {
                    color: theme-get('text-color');
                }
            }
        }

        .first-text {
            margin-top: 30px;
        }

        width: 25%;

        .title {
            font-weight: 700;
            font-style: normal;

            @include theme() {
                color: theme-get('text-color');
            }

            color: #afb5bc;
            margin-bottom: 10px;
        }

        .radio-wrapper {
            padding: 0px 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}