@import '@/assets/scss/theme.scss';

.axe-tab {
    padding: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: flex;
    width: 1000px;

    .tag-list {
        width: 250px;
        margin-top: 40px;
        height: 227px;
        border: 1px solid $d-border;

        @include theme() {
            background-color: theme-get('bg-color-input');
            color: theme-get('text-color');
            padding: $px-5 $px-10;
        }
        .tag-item-wrapper {
            margin-bottom: $px-10;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .tag-item {
                border: 1px solid $d-border;
                width: 200px;
                @include theme() {
                    background-color: theme-get('bg-color-input');
                    color: theme-get('text-color');
                    padding: $px-5 $px-10;
                }
                span{
                    margin-left: 30px;
                }
            }
        }
    }

    .input {
        width: 210px;
        height: 26px;
        border: 1px solid $d-border;
        outline: none;
        flex: 1;

        @include theme() {
            background-color: theme-get('bg-color-input');
            color: theme-get('text-color');
            padding: $px-5 $px-10;
        }

        &:focus {
            @include box-shadow;
        }
    }

    .cfg-input {
        margin-top: 2px;
        margin-bottom: 20px;
    }

    .col1 {
        margin-right: 20px;

        .checkbox-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;

            input {
                margin-top: 5px;
                margin-right: 5px;
            }

            .title1 {
                font-weight: 700;
                font-style: normal;
                color: #afb5bc;
            }
        }

        .first-text {
            margin-top: 30px;
        }

        width: 25%;

        .title {
            font-weight: 700;
            font-style: normal;
            color: #afb5bc;
            margin-bottom: 10px;
        }

        .radio-wrapper {
            padding: 0px 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}