@use '../ui/theme';

.taz-save-as-modal {
    &__nav {
        padding: 0 20px 4px;
        border-bottom: 1px solid theme.$border-color;
    }

    &__file-list {
        padding: 4px 8px;
    }

    &__column {
        flex: 1;
    }
}
