@import '@/assets/scss/theme.scss';

.data-tab-wrapper{
    @include common-input;
    padding: 20px;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    width: 1050px;
    .create-div {
        margin-top: 5px !important;
    }
    .row {
        height: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .plus{
            font-size: large;
            cursor: pointer;
        }
    }
    .tag-row{
        @include theme() {
            background-color: theme-get('bg-color-button') !important;
            border: 1px solid theme-get('border-color') !important;
        }
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        .taginput {
            width: 311px;
        }
        .select{
            width: 150px;
            height: 30px;
        }
    }
}
