@import '@/assets/scss/theme.scss';

.combobox-select {
    border: 1px solid;
    @include theme() {
        border-color: theme-get('border-color');
    }
    color: $text-w;
    outline: none;
    margin: 0 8px;
    padding: 0 $px-15;
    min-width: 200px;
    min-height: 24px;
    font-size: $font-12;
    position: relative;
    &:focus {
        @include box-shadow;
    }
    &__item {
        background-color: $d-background;
        padding: 0 $px-15;
        @include theme() {
            background-color: theme-get('bg-color');
            color: theme-get('text-color');
        }
    }
    -webkit-appearance: auto;
    appearance: auto;
}
