.side-form {
    height: 100%;
    background-color: #333333;
    .side-title {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 11px 0 20px;
        background-color: transparent;
        font-size: 11px;
    }
    .side-sub-title {
        cursor: pointer;
        height: 22px;
        font-weight: 600;
        padding: 0 11px 0 20px;
        display: flex;
        align-items: center;
        font-size: 13px;
        background-color: #242424;
        .files-open-option {
            width: calc(100% - 20px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            svg {
                color: #c4c4c4;
            }
            svg:hover {
                color: #f8f8f8;
            }
        }
    }
    .editors-title {
        padding: 0 11px 0 0;
        .collapse-icon {
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .editors-form {
        margin: 2px 0;
        display: flex;
        flex-direction: column;
        max-height: 110px;
        overflow-y: auto;
        .editors-list {
            padding-right: 8px;
            cursor: pointer;
            display: flex;
            padding-left: 16px;
            align-items: center;
            background-color: transparent;
            font-size: 13px;
            justify-content: space-between;
            .item-title {
                display: flex;
                align-items: center;
            }

            .tab_close {
                font-size: 13px;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .off-saved {
                width: 15px;
                height: 15px;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    padding-left: 0 !important;
                }
            }
            span {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .editors-icon {
                display: flex;
                width: 16px;
                height: 22px;
                margin-right: 6px;
                align-items: center;
                justify-content: center;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}
