.line-wrap {
    display: flex;

    flex-direction: column;
    .row {
        margin: 0 4px 6px 4px;
        // .mark-area-option {
        //     display: flex;
        // }
        .mark-area-option {
            .row {
                display: flex;
                align-items: center;
                span {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }
    }
    .scale-form {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .title {
        font-size: 13.5px;
        margin: 6px 0 4px 0 !important;
        color: #f8f8f8;
        font-weight: 600;
    }
}
