@import '/src/assets/scss/theme.scss';
.liquid-fill-options-wrape {
    .color-picker {
        position: absolute !important;
        z-index: $color-dropdown-idx;
    }
}

.gauge-options-wrape {
    .color-picker {
        position: absolute !important;
        z-index: $color-dropdown-idx;
    }
}
