@import '@/assets/scss/theme.scss';
$height: 30px;
@include common-input;
.time-range-wrapper {
    padding: 20px;
    @include font-12;
    width: 710px;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .col-left {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
        }

        .button-apply {
            height: $height;
            margin-left: $px-10;
            @include button-effect-color;
        }
    }
}